.Person {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  text-align: center;
}

.opponents {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 40px 1fr repeat(4, 40px);
}

.opponents div,
.opponents a {
  height: var(--button-height);
  line-height: var(--button-height);
}

.stat {
  font-size: 16px;
}

.rate,
.wins {
  text-align: right;
}

.button {
  border-radius: 20px;
}
